---
layout: default
---

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="post-date">
      {{ page.date | date: "%b %-d, %Y" }}
      {% if page.author %} | <a href="">{{ page.author }} </a>{% endif %}
    </div>
    <h2>{{ page.title }}</h2>
    <p>{{ content }}</p>
    {% if page.categories %}
    <div class="post-date">tags |
      <a href="">JavaScript</a>,
      <a href="">jQuery</a>,
      <a href="">Angular</a>
      <span></span>
    </div>
    {% endif %}
    {% if page.author %}
    <ul class="social-links outline text-center">
      <li>
        <a href="#link"><i class="icon-twitter"></i></a>
      </li>
      <li>
        <a href="#link"><i class="icon-facebook"></i></a>
      </li>
      <li>
        <a href="#link"><i class="icon-googleplus"></i></a>
      </li>
    </ul>
    <div id="author" class="clearfix">
      <img class="img-circle" alt="" src="img/author-sing.jpg" height="96" width="96">
      <div class="author-info">
        <h3>{{ page.author }}</h3>
      </div>
    </div>
    {% endif %}
  </div>
</div>
